* {
    margin: 0;
    padding: 0;
}
header{
    height: 60px;
    background: #D9D9D9;
    min-width: 1430px;
    width: 100%;
}
.contact img{
    width: 50px;
    height: 50px;
}
#first {
    display: flex;
    justify-content: flex-start;
}
#second {
    display: flex;
    justify-content: flex-start;
}
.search-box{
    width: 500px;
    height: 30px;
    background: #FFFFFF;
    margin-top: 17px;
    margin-left: 30px;
}
.box{
    width: 30px;
    height: 30px;
    background: #30B8E2;
    margin-top: 17px;
    margin-left: 280px;
}
.search img{
    width: 20px;
    height: 20px;
    margin-top: 22px;
    margin-left: -25px;
}
.text-search{
    width: 184px;
    height: 30px;
    margin-top: 20px;
    margin-left: -490px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #000000;
}
.header-body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    margin-top: 0px;
    margin-left: 30px;
}
.l{
    color: #1E90FF;
}
.i{
    color: #F41212;
}
.z{
    color: #FFD700;
}
.a{
    color: #32CD32;
}
.h_c{
    display: flex;
    justify-content: flex-end;
    margin-top: -53px;
    margin-right: 20px;
}
main .text_main{
    position: absolute;
    width: 515px;
    height: 360px;
    left: 120px;
    top: 100px;
}
main .text_main1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    color: #30B8E2;
}
main .text_main2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
main .text_contact{
    box-sizing: border-box;
    position: absolute;
    width: 530px;
    height: 200px;
    left: 120px;
    top: 380px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .text_contact1{
    position: absolute;
    width: 408px;
    height: 107px;
    left: 135px;
    top: 385px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
}
main .text_contact2{
    position: absolute;
    width: 408px;
    height: 100px;
    left: 135px;
    top: 425px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
}
.custom-btn {
    left: 135px;
    top: 440px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-1 {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, rgba(48, 184, 226, 1) 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-1 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-1:before,
.btn-1:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(48, 184, 226, 1);
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
}
.btn-1:before{
    height: 0%;
    width: 2px;
}
.btn-1:after {
    width: 0%;
    height: 2px;
}
.btn-1:hover:before {
    height: 100%;
}
.btn-1:hover:after {
    width: 100%;
}
.btn-1:hover{
    background: transparent;
}
.btn-1 span:hover{
    color: rgba(48, 184, 226, 1);
}
.btn-1 span:before,
.btn-1 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(48, 184, 226, 1);
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
}
.btn-1 span:before {
    width: 2px;
    height: 0%;
}
.btn-1 span:after {
    height: 2px;
    width: 0%;
}
.btn-1 span:hover:before {
    height: 100%;
}
.btn-1 span:hover:after {
    width: 100%;
}
footer{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0px;
    background: #D9D9D9;
}
footer .made-by{
    position: absolute;
    width: 302px;
    height: 10px;
    left: 31px;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
#third {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.main_box{
    box-sizing: border-box;
    width: 32%;
    height: 600px;
    margin-left: 800px;
    margin-top: -10px;
    border: 1px solid #30B8E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img_main img{
    display: flex;
    width: 31%;
    height: 35%;
    margin-left: 807.5px;
    margin-top: -593.5px;
}
.text_inf{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 31%;
    height: auto;
    margin-left: 807.5px;
    margin-top: -290px;
}
.text_inf1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
.text_inf2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}
.text-inf3{
    margin-top: 25px;
}
.text_inf3{
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.line{
    margin-left: 800px;
    margin-top: -158px;
    width: 31.89%;
    height: 0px;
    border: 1px solid #30B8E2;
}
.sn{
    display: flex;
    flex-direction: row;
    margin-top: 166px;
    margin-left: 810px;
}
.vk img{ 
    width: 40px;
    height: 40px;
}
.tg img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.git img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}