* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-flow: column;
}
@media all and (max-width: 800px) {
    main {
        justify-content: center;
        flex-shrink: 15;
    }
}
.head-up{
    height: 8vh;
    background: #D9D9D9;
    width: 100%;
    display: flex;
    line-height: 1.35;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.8vh;
    flex-flow: row wrap;
    justify-content: flex-start;
}
@media all and (max-width: 800px) {
    .head-up {
        justify-content: center;
    }
}
ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 30px;
    justify-items: flex-start;
    margin: auto;
    margin-top: 2vh;
    margin-left: 3vh;
    cursor: pointer;
}
@media (min-width: 500px) {
    ul {
        grid-auto-flow: column;
    }
}

a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.h_b:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.h_b:hover ~ .h_b p {
    animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}
/*#first {
    display: flex;
    justify-content: flex-end;
}
header .contact img{
    margin-right: 40px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
header .resume{
    margin: 0.7%;
    width: 184px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
header .resume a:hover{
    color: #f8f8f9;
}*/
main{
    display: flex;
    flex: 1;
    align-self: center;
    margin-bottom: 130px;
}
.mainmain{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.main-body{
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23vh;
}
.l{
    color: #1E90FF;
}
.i{
    color: #F41212;
}
.z{
    color: #FFD700;
}
.a{
    color: #32CD32;
}
.main-body5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5vh;
    color: #30B8E2;
    margin-top: 21.4vh;
    margin-left: -18vh;
}
.wrapper {
    margin-top: 2vh;
    justify-content: center;
}
.text {
    margin-left: 1vh;
    margin-top: 0.2vh;
    width: 41.5vh;
    color: #000000;
    font-family: monospace;
    font-weight: 200;
    font-size: 2.7vh;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 1.5px solid #000000; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite, printed_text 5s steps(28);
}

@keyframes cursor {
    0% {
        border-color: #000000;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #000000;
    }
}
@keyframes printed_text {
    from {
        width: 0;
    }
}

.for-text{
    width: 83vh;
}
.box{
    display: flex;
    flex-direction: row;
    border: 3px solid #30B8E2;
    width: 90vh;
    height: 4vh;
}
.search img{
    margin-top: 0.2vh;
    margin-left: 2.5vh;
    width: 3.5vh;
    height: 3.5vh;
}
footer{
    flex: 0 0 auto;
}
.feet {
    width: 100%;
    display: flex;
    background-color: #D9D9D9;
    height: 4vh;
}
.made-by{
    margin-top: 0.9vh;
    margin-left: 2vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
    color: #00000074;
}