* {
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    width: 1535px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #D9D9D9;
}
header .resume{
    position: absolute;
    width: 184px;
    height: 30px;
    left: 1300px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
header .resume a:hover{
    color: #f8f8f9;
}
header .search-box{
    position: absolute;
    width: 500px;
    height: 30px;
    left: 150px;
    top: 15px;
    background: #FFFFFF;
}
header .box{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 620px;
    top: 15px;
    background: #30B8E2;
}
header .search img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 625px;
    top: 20px;
}
header .text-search{
    position: absolute;
    width: 450px;
    height: 30px;
    left: 160px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
header .main-body1{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 8px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    color: #1E90FF;
}
header .main-body2{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 30px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    color: #F41212;
}
header .main-body3{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 50px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    color: #FFD700;
}
header .main-body4{
    position: absolute;
    width: 65px;
    height: 55px;
    left: 73px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    color: #32CD32;
}
footer{
    position: absolute;
    width: 1535px;
    height: 30px;
    left: 0px;
    bottom: 0px;
    background: #D9D9D9;
}
footer .made-by{
    position: absolute;
    width: 302px;
    height: 10px;
    left: 31px;
    bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.main_body{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: auto;
}

div.item {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #30B8E2;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}
div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
}
div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}